LOCATE COMP "clk_i" SITE "P6";
IOBUF PORT "clk_i" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 25 MHZ;

LOCATE COMP "led_o" SITE "T6";
IOBUF PORT "led_o" IO_TYPE=LVCMOS25;

LOCATE COMP "CPU_DATA[0]" SITE "C4";
IOBUF PORT "CPU_DATA[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "CPU_DATA[1]" SITE "D4";
IOBUF PORT "CPU_DATA[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "CPU_DATA[2]" SITE "E4";
IOBUF PORT "CPU_DATA[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "CPU_DATA[3]" SITE "D3";
IOBUF PORT "CPU_DATA[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "CPU_DATA[4]" SITE "F5";
IOBUF PORT "CPU_DATA[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "CPU_DATA[5]" SITE "E3";
IOBUF PORT "CPU_DATA[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "CPU_DATA[6]" SITE "F1";
IOBUF PORT "CPU_DATA[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "CPU_DATA[7]" SITE "F2";
IOBUF PORT "CPU_DATA[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "CPU_RWB" SITE "G2";
IOBUF PORT "CPU_RWB" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "CPU_RESB" SITE "G1";
IOBUF PORT "CPU_RESB" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "CPU_IRQB" SITE "H2";
IOBUF PORT "CPU_IRQB" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "CPU_CSB" SITE "H3";
IOBUF PORT "CPU_CSB" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "CPU_ADDR[0]" SITE "B1";
IOBUF PORT "CPU_ADDR[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "CPU_ADDR[1]" SITE "C2";
IOBUF PORT "CPU_ADDR[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "CPU_ADDR[2]" SITE "C1";
IOBUF PORT "CPU_ADDR[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "CPU_ADDR[3]" SITE "D1";
IOBUF PORT "CPU_ADDR[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "CPU_ADDR[4]" SITE "E2";
IOBUF PORT "CPU_ADDR[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J3_5" SITE "E1";
IOBUF PORT "J3_5" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "PS2_DATA" SITE "P5";
IOBUF PORT "PS2_DATA" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "PS2_CLK" SITE "R3";
IOBUF PORT "PS2_CLK" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "PS2_DATA_" SITE "P2";
IOBUF PORT "PS2_DATA_" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "PS2_CLK_" SITE "R2";
IOBUF PORT "PS2_CLK_" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J4_4" SITE "T2";
IOBUF PORT "J4_4" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J4_5" SITE "N6";
IOBUF PORT "J4_5" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J5_0" SITE "T13";
IOBUF PORT "J5_0" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J5_1" SITE "R12";
IOBUF PORT "J5_1" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J5_2" SITE "R13";
IOBUF PORT "J5_2" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J5_3" SITE "R14";
IOBUF PORT "J5_3" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J5_4" SITE "T14";
IOBUF PORT "J5_4" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J5_5" SITE "P12";
IOBUF PORT "J5_5" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J6_0" SITE "R15";
IOBUF PORT "J6_0" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J6_1" SITE "T15";
IOBUF PORT "J6_1" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J6_2" SITE "P13";
IOBUF PORT "J6_2" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J6_3" SITE "P14";
IOBUF PORT "J6_3" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J6_4" SITE "N14";
IOBUF PORT "J6_4" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J6_5" SITE "H15";
IOBUF PORT "J6_5" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J7_0" SITE "G16";
IOBUF PORT "J7_0" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J7_1" SITE "H14";
IOBUF PORT "J7_1" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J7_2" SITE "G15";
IOBUF PORT "J7_2" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J7_3" SITE "F15";
IOBUF PORT "J7_3" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J7_4" SITE "F16";
IOBUF PORT "J7_4" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J7_5" SITE "E16";
IOBUF PORT "J7_5" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J8_0" SITE "D16";
IOBUF PORT "J8_0" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J8_1" SITE "E15";
IOBUF PORT "J8_1" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J8_2" SITE "C16";
IOBUF PORT "J8_2" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J8_3" SITE "B16";
IOBUF PORT "J8_3" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J8_4" SITE "C15";
IOBUF PORT "J8_4" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "J8_5" SITE "B15";
IOBUF PORT "J8_5" PULLMODE=NONE IO_TYPE=LVCMOS33;
